.wrapper {
    width: 220px;
    display: flex;
    flex-direction: column;
}

.todolistHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.todolistHeader:hover {
    .removeTodolistButton {
        opacity: 1;
    }
}

.removeTodolistButton {
    opacity: 0.1;
}

.removeTodolistButton {
    align-self: flex-end;
    height: max-content;
}

.addTaskForm {
    display: flex;
    justify-content: space-between;
}

.addTaskForm > button {
    align-self: center;
    height: max-content;
    width: max-content;
}

.error {
    font-size: 0.7rem;
    font-weight: 500;
    color: red;
    min-height: 15px;
}

.taskList {
    margin: 5px 0 10px 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.task {
    padding: 3px 5px;
    border-radius: 3px;
    display: flex;
    gap: 5px;
}

.task:hover {
    background-color: #00c4ff;
}

.isDone {
    opacity: 0.5;
}

.checkbox {
    margin: 0 auto;
    position: relative;
    top: 1px;
}

.taskBody {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.taskTitle {
    width: 100%;
    overflow: auto;
}

.deleteTaskButton {
    opacity: 0;
    cursor: pointer;
}

.task:hover, .taskBody:hover, .taskBody:focus {
    .deleteTaskButton {
        opacity: 1;
    }
}

.filterButtons {
    display: flex;
    gap: 7px;
}

.filterButton, .activeFilterButton {
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 3px;
}

.filterButton {
    background-color: #e3e3e3;
}

.filterButton:hover {
    background-color: #cbcbcb;
    transition: background-color 200ms ease-in-out;
}

.activeFilterButton {
    background-color: lightgreen;
}