.wrapper {
    padding: 10px;
    width: max-content;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.todolistHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.addTaskForm {
    display: flex;
    justify-content: space-between;
}

.addTaskForm > button {
    align-self: center;
    height: max-content;
    width: max-content;
}

.error {
    font-size: 0.7rem;
    font-weight: 500;
    color: red;
    min-height: 15px;
}

.taskList {
    margin: 5px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 3px;
    list-style-type: none;
}

.filterButtons {
    margin: 5px 0 0 0;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.filterButton, .activeFilterButton {
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 3px;
}

.filterButton {
    background-color: #e3e3e3;
}

.filterButton:hover {
    background-color: #cbcbcb;
    transition: background-color 200ms ease-in-out;
}

.activeFilterButton {
    background-color: lightgreen;
}