.toDoListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toDoListTitle {
    margin: 5px 0;
    font-weight: 700;
    font-size: 1.35rem;
}

.taskList {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.taskListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inactive {
    opacity: 0.5;
}

.taskBody {
    display: flex;
    justify-content: left;
    align-items: center;
}

.taskBody > input {
    margin-bottom: 1px;
}

.taskTitle {
    max-width: 160px;
}

.deleteButton {
    padding: 3px 5px;
    height: min-content;
}

.filterButton {
    padding: 4px 7px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    background: #efefef;
}

.buttonsContainer > button {
    margin-right: 10px;
}

.activeFilterButton {
    background: lightgreen;
}