.headerWrapper {
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
    background-color: #00c4ff;
}

.header {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.addTodolistForm {
    position: relative;
    top: 3px;
    display: flex;
    gap: 10px;
}

.error {
    color: red;
    font-size: 0.8rem;
    font-weight: 500;
    position: relative;
    right: 250px;
    bottom: 17px;
}

.todoWrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 15px;
}