.App {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  margin-right: 10px;
}

.creation-header {
  margin: 0;
  padding: 0;
  width: max-content;
}

.toDoLists-container {
  display: flex;
  gap: 30px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}